<#assign head>
<link href="${request.getContextPath()}/assets/css/daterangepicker.css"
	rel="stylesheet"></link>
</#assign>

<#assign contentBody>
<div class="row bg-title">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<h4 class="page-title">事件信息编辑</h4>
	</div>
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
			<li><a href="${request.getContextPath()}/dashboard">控制台</a></li>
			<li><a href="${request.getContextPath()}/news/index">焦点事件</a></li>
			<li class="active">事件信息编辑</li>
		</ol>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="white-box">
	<form class="form-horizontal" id="newsForm">
		<input type="hidden" name="id" value="${(model.id)!'0'}">
		<input type="hidden" name="version" value="${(model.version)!'1'}">
		<input type="hidden" name="version" value="${(model.categoryId)!'2'}">
		<div class="form-group">
			<label class="col-md-12">发布到</label>
			<div class="col-md-12">
				<select class="form-control" required autocomplete="off"
					name="target" data-toggle="validator" data-required-error="请选择发布目标">
					<#if (((model.target)!0)== 1)>
					<option value="1" selected="selected">我爱上课</option>
					<#else>
					<option value="1">我爱上课</option></#if>
					<#if (((model.target)!0)== 2)>
					<option value="2" selected="selected">学校</option>
					<#else>
					<option value="2">学校</option></#if>
					<#if (((model.target)!0)== 3)>
					<option value="3" selected="selected">全部</option>
					<#else>
					<option value="3">全部</option></#if>
				</select>
			</div>
			<div class="col-md-12 help-block with-errors"></div>
		</div>
		<div class="form-group">
			<label class="col-md-12">标题</label>
			<div class="col-md-12">
				<input type="text" class="form-control" required autocomplete="off"
					maxlength="60" data-toggle="validator" data-required-error="标题不能为空"
					name="title" value="${(model.title)!''}" />
			</div>
			<div class="col-md-12 help-block with-errors"></div>
		</div>
		<div class="form-group">
			<label class="col-md-12">事件内容</label>
			<div class="col-md-12">
				<textarea class="form-control" required name="content"
					data-toggle="validator" data-required-error="事件内容不能为空" rows="5">${(model.content)!''}</textarea>
			</div>
			<div class="col-md-12 help-block with-errors"></div>
		</div>
		<div class="form-group">
			<label class="col-md-12">引用地址</label>
			<div class="col-md-12">
				<input class="form-control" type="text" autocomplete="off"
					name="quoteUrl" value="${(model.quoteUrl)!''}" />
			</div>
			<div class="col-md-12 help-block with-errors"></div>
		</div>
		<div class="form-group">
			<label class="col-md-12">排序</label>
			<div class="col-md-12">

				<input class="vertical-spin" type="text"
					data-bts-button-down-class="btn btn-default btn-outline"
					data-bts-button-up-class="btn btn-default btn-outline" required
					data-required-error="排序不能为空" autocomplete="off" name="sort"
					value="${((model.sort)!99)?string('#')}" />
			</div>
			<div class="col-md-12 help-block with-errors"></div>
		</div>
		<div class="form-group">
			<label class="col-md-12">发布人</label>
			<div class="col-md-12">
				<input class="form-control" type="text" required="required"
					data-required-error="发布人不能为空" maxlength="60" autocomplete="off"
					name="author" value="${(model.author)!'我爱上课'}" />
			</div>
			<div class="col-md-12 help-block with-errors"></div>
		</div>
		<div class="form-group m-b-0">
			<div class="col-md-12">
				<@shiro.hasAnyPermissions name="news.add,news.edit">
				<button type="submit"
					class="btn btn-success waves-effect waves-light m-r-10">保
					存</button>
				</@shiro.hasAnyPermissions>
				<button type="button"
					class="btn btn-inverse waves-effect waves-light m-r-10"
					onclick="window.location.href=basePath+'/news/index'">返
					回</button>
			</div>
		</div>
	</form>

</div>
</#assign>

<#assign body> <script type="text/javascript"
	src="${request.getContextPath()}/assets/js/moment.min.js"></script> <script
	type="text/javascript"
	src="${request.getContextPath()}/assets/js/daterangepicker.js"></script>
<script type="text/javascript"
	src="${request.getContextPath()}/assets/plugins/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript"
	src="${request.getContextPath()}/assets/plugins/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript"
	src="${request.getContextPath()}/views/news/index.js"></script> <script>
		KindEditor.ready(function(K) {
			window.editor = K.create('textarea[name="content"]', {
				minHeight : 300,
				allowImageUpload : true,
				resizeType : 1,
				allowPreviewEmoticons : true,
				filePostName : "uploadFile",
				uploadJson : basePath + '/kindeditor/upload',
				fileManagerJson : basePath + '/kindeditor/manager',
				filterMode : true,
				allowFileManager : true
			});
		});
	</script> </#assign>

<#include "/layout.html" encoding="utf-8">