<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susd.domain.site.AnnouncementRepository">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="announceMap"
		type="com.susd.domain.site.Announcement">
		<id column="id" property="id" />
		<!-- <result column="content" property="content" /> <result column="title" 
			property="title" /> <result column="begin_time" property="beginTime" /> <result 
			column="end_time" property="endTime" /> <result column="sort" property="sort" 
			/> <result column="add_time" property="addTime" /> <result column="status" 
			property="status" /> <result column="version" property="version" /> <result 
			column="user_id" property="userId" /> -->
	</resultMap>

	<!-- 查询单条记录 -->
	<select id="findAnnouncementById" parameterType="int"
		resultMap="announceMap">
		SELECT * FROM announcement WHERE id = #{announcementId}
	</select>
	<select id="findByKeyword" resultMap="announceMap">
		select * from announcement
		where
		tenant_id=#{tenantId} and `status`!=20
		<if test="keyword != null and keyword != ''">
			<bind name="keyinfo" value="'%' + keyword + '%'" />
			and title like #{keyinfo}
		</if>
		order by sort asc,add_time desc
	</select>
	<update id="update"
		parameterType="com.susd.domain.site.Announcement">
		update announcement set
		title=#{title},content=#{content},begin_time=#{beginTime},end_time=#{endTime},version=version+1,sort=${sort},`status`=${status}
		where id=${id}
	</update>
	<insert id="add" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.susd.domain.site.Announcement">
		insert into announcement
		(tenant_id,title,content,begin_time,end_time,`status`,user_id,version,sort,add_time)
		values(#{tenantId},#{title},#{content},#{beginTime},#{endTime},#{status},#{userId},#{version},#{sort},#{addTime})
	</insert>
</mapper>