<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susd.domain.complex.CarRepository">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="carMap" type="com.susd.domain.complex.Car">
		<id column="id" property="id" />
		<result column="car_number" property="carNumber" />
		<result column="add_time" property="addTime" />
	</resultMap>

	<!-- useGeneratedKeys设置为"true"表明要MyBatis获取由数据库自动生成的主键； keyProperty="id"指定把获取到的主键值注入到Car的id属性 -->
	<insert id="add" parameterType="com.susd.domain.complex.Car"
		useGeneratedKeys="true" keyProperty="id">
		insert into car
		(tenant_id,car_number,`sim`,type,`load`,`status`,remark,
		maintain_id,add_time,version)
		values (#{tenantId},#{carNumber},#{sim},#{type},#{load},#{status},#{remark},
		<choose>
			<when test="driverId!=null and driverId>0">
				#{driverId},
			</when>
			<otherwise>
				null,
			</otherwise>
		</choose>
		#{maintainId},#{addTime},#{version})
	</insert>
	<select id="findByKeyword" parameterType="String"
		resultMap="carMap">
		select
		c.id,c.car_number,c.type,c.load,c.sim,c.`status`,c.add_time
		from car c		
		where c.tenant_id=#{tenantId} and c.status!=20
		<if test="keyword != null and keyword != ''">
			<bind name="keyinfo" value="'%' + keyword + '%'" />
			and (car_number like #{keyinfo} or sim like #{keyinfo})
		</if>
	</select>
	<!-- 查询单条记录 -->
	<select id="findCarById" parameterType="int" resultMap="carMap">
		select * from car where id = #{carId}
	</select>

	<select id="getCars" resultMap="carMap">
		select * from car where `status`=10
	</select>
	
	<update id="update" parameterType="com.susd.domain.complex.Car">
		update car set
		car_number=#{carNumber},`sim`=#{sim},type=#{type},`load`=#{load},`status`=#{status},remark=#{remark},
		driver_id=
		<choose>
			<when test="driverId!=null and driverId>0">
				#{driverId},
			</when>
			<otherwise>
				null,
			</otherwise>
		</choose>
		version=version+1 where id=${id}
	</update>

</mapper>