<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susd.domain.law.LawyerRepository">
    <select id="findById" parameterType="int" resultType="com.susd.domain.law.Lawyer">
        select * from lawyer where id=${id}
    </select>
    <select id="findByKeyword" resultType="com.susd.domain.law.Lawyer">
        select * from lawyer where tenant_id=${tenantId}
        <if test="keyword != null and keyword != ''">
            <bind name="keyinfo" value="'%' + keyword + '%'" />
            and (surname like #{keyinfo} or `name` like #{keyinfo} or cell like #{keyinfo} or firm like #{keyinfo} or practice_no like #{keyinfo})
        </if>
        order by add_time desc
    </select>
    <insert id="add" parameterType="com.susd.domain.law.Lawyer" keyProperty="id" useGeneratedKeys="true">
        insert into lawyer (tenant_id,surname,`name`,sex,cell,fixed,degree,firm,`position`,practice_no,address,wechat,qq,add_time,remark,user_id)
        values (#{tenantId},#{surname},#{name},#{sex},#{cell},#{fixed},#{degree},#{firm },#{position },#{practiceNo },#{address },#{wechat },#{qq },#{addTime},#{remark},#{userId})
    </insert>

    <update id="update" parameterType="com.susd.domain.law.Lawyer">
        update lawyer set surname=#{surname},`name`=#{name},sex=#{sex},cell=#{cell},fixed=#{fixed},degree=#{degree},firm=#{firm},`position`=#{position}
        ,`practice_no`=#{practiceNo},address=#{address},wechat=#{wechat},qq=#{qq},add_time=#{addTime},remark=#{remark}
        where id=${id}
    </update>
</mapper>