<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.susd.domain.site.NewsCategoriesRepository">

    <select id="findById" parameterType="int" resultType="com.susd.domain.site.NewsCategories">
        select * from news_categories where id=${id}
    </select>

    <select id="findByKeyword" resultType="com.susd.domain.site.NewsCategories">
        select * from news_categories where tenant_id=${tenantId}
        <if test="keyword != null and keyword != ''">
            <bind name="keyinfo" value="'%' + keyword + '%'" />
            and (`name` like #{keyinfo} or code like #{keyinfo})
        </if>
        order by sort asc,add_time desc
    </select>

    <insert id="add" parameterType="com.susd.domain.site.NewsCategories" useGeneratedKeys="true" keyProperty="id">
        insert into news_categoires (tenant_id,`name`,code,sort,icon,user_id,add_time,remark) values
        (#{tenantId,#{name},#{code},#{sort},#{icon},#{userId},#{addTime},#{remark})
    </insert>

    <update id="update" parameterType="com.susd.domain.site.NewsCategories">
        update news_categoires set `name`=#{name},`code`=#{code},`sort`=#{sort},`icon`=#{icon},`remark`=#{remark}
        where id=${id}
    </update>
</mapper>